@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html{
    overflow-x: hidden;
}

body{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    overflow: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
}

/*header*/

.header{
    padding: 20px 0;
    position: absolute;
    z-index: 3;
    width: 100%;
}

.header .header__container{
    margin: 0 auto;
}

.header .header__container .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header .header__container .header__content .header__heading{
    display: flex;
    position: relative;
}

.header .header__container .header__content .header__heading h1 a{
    text-decoration: none;
    font-size: 32px;
    margin-right: 50px;
    color: #fff;
}

.header .header__container .header__content .header__heading h1 a span{
    width: 40px;
    border-radius: 20px;
    border-top: 8px solid #fff;
}

.header .header__container .header__content .header__heading .header__input{
    position: relative;
}

.header .header__container .header__content .header__heading .header__input input{
    padding: 10px 50px 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.header .header__container .header__content .header__heading .header__input input:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.header .header__container .header__content .header__heading .header__input span i{
    font-size: 15px;
    position: absolute;
    right: 20px;
    top: 13px;
    cursor: pointer;
    color: #0f0f0f;
}

.header .header__container .header__content .header__item ul{
    display: flex;
    align-items: center;
}

.header .header__container .header__content .header__icon{
    display: none;
}

.header .header__container .header__content .header__item ul li{
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.header .header__container .header__content .header__item ul li:first-child{
    color: #f35b04;
}

.header .header__container .header__content .header__item ul i{
    font-size: 25px;
    margin-left: 40px;
}


/*header*/

/*banner*/
.banner{
    background-image: url(https://wp.w3layouts.com/digitaledu/wp-content/themes/digitaledu/assets/images/banner3.jpg);
    max-width: 100%;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat no-repeat no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    align-items: center;
}

.banner::after{
    background-color: rgb(8 8 8 / 64%);
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    content: "";
    height: 100%;
    position: absolute;
    z-index: -1;
}

.banner .banner__container .banner__content{
    padding: 48px 0;
    z-index: 2;
    color: aliceblue;
    top: 70%;
    transform: translateY(-70%);
    position: absolute;
}

.banner .banner__container .banner__content .banner__heading{
    max-width: 50%;
}

.banner .banner__container .banner__content .banner__heading h5{
    font-size: 50px;
}

.banner .banner__container .banner__content .banner__heading p{
    font-size: 18px;
    margin: 30px 0;
}

.banner .banner__container .banner__content .banner__heading .one {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 12px 25px;
    background-color: #f35b04;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 10px;
    align-items: center;
}

.banner .banner__container .banner__content .banner__heading .two {
    text-decoration: none;
    color: #f35b04;
    font-size: 20px;
    padding: 12px 25px;
    background-color: #fff;
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
    align-items: center;
}

.banner .banner__container .banner__content .banner__heading .one:hover{
    background-color: #3d348b;
    transition: all 0.5s linear;
}

.banner .banner__container .banner__content .banner__heading .two:hover{
    color: #0f0f0f;
    transition: all 0.5s linear;
}

.banner .banner__container .banner__content .banner__heading a span i{
    font-size: 14px;
}

.banner .banner__container .banner__content .banner__item{
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}

.banner .banner__container .banner__content .banner__item .banner__icon{
    flex: 0 0 calc(33.3337% -40px);
    max-width: calc(33.3337% -40px);
    display: flex;
    margin: 0 20px;
    margin-top: 50px;
}

.banner .banner__container .banner__content .banner__item .banner__icon span{
    font-size: 25px;
    padding-right: 30px;
}

.banner .banner__container .banner__content .banner__item .banner__icon .banner__text h6{
    font-size: 23px;
    margin-bottom: 15px;
}

.banner .banner__container .banner__content .banner__item .banner__icon .banner__text p{
    font-size: 17px;
    opacity: 0.8;
}
/*banner*/
/*about*/
.about{
    padding: 48px 0;
}

.about .about__container{
    padding: 48px 0;
}

.about .about__container .about__content{
    display: flex;
    margin-left: -20px;
    margin-right: -30px;
}

.about .about__container .about__content .about__heading{
    flex: 0 0 33.3337%;
    max-width: 33.3337%;
    padding: 0 20px;
} 

.about .about__container .about__content .about__heading span{
    font-size: 20px;
    color: #f35b04;
    font-weight: 600;
    padding-left: 100px;
    position: relative;
}

.about .about__container .about__content .about__heading h3{
    font-size: 40px;
    font-weight: 600;
}

.about .about__container .about__content .about__heading span::after{
    content: "";
    background-color: #f35b04;
    height: 3px;
    width: 80px;
    display: block;
    position: absolute;
    top: 50%;
}

.about .about__container .about__content .about__text{
    flex: 0 0 33.3337%;
    max-width: 33.3337%;
    padding: 0 30px;
}

.about .about__container .about__content .about__text p{
    font-size: 19px;
    color: #525252;
    line-height: 30px;
}
/*about*/

/*start*/
.start{
    padding: 40px 0;
    background-color: #f8f9fa;
}

.start .start__container{
    padding: 48px 0;
}

.start .start__container .start__content{
    display: flex;
}

.start .start__container .start__content .start__all{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px;
}

.start .start__container .start__content .start__all .start__item{
    display: flex;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 20px;
}

.start .start__container .start__content .start__all .start__item:hover{
    background-color: #161723;
    transition: all 0.3s linear;
    transform: translateY(-5px);
}

.start .start__container .start__content .start__all .start__item span{
    padding: 0 15px;
}

.start .start__container .start__content .start__all .start__item span i{
    flex: 0 0 calc(20% -30px);
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background-color: #3d348b;
    color: #fff;
    margin-left: -15px;
}

.start .start__container .start__content .start__all .start__item .start__icon{
    flex: 0 0 calc(80% -30px);
    max-width: calc(80% -30px);
    padding: 0 15px;
    margin-right: -15px;
}

.start .start__container .start__content .start__all .start__item .start__icon h4{
    font-size: 23px;
    font-weight: 600;
}

.start .start__container .start__content .start__all .start__item:hover .start__icon h4{
    color: #fff;
}

.start .start__container .start__content .start__all .start__item .start__icon p{
    font-size: 18px;
    color: #525252;
    line-height: 30px;
    margin: 30px 0;
}

.start .start__container .start__content .start__all .start__item:hover .start__icon p{
    color: #fff;
}

.start .start__container .start__content .start__all .start__item .start__icon a{
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    background-color: #f35b04;
    color: #fff;
    font-weight: 600;
    align-items: center;
    border-radius: 20px;
}

.start .start__container .start__content .start__all .start__item .start__icon a span i{
    font-size: 13px;
    height: 0;
    width: 0;
}
/*start*/

/*us*/
.us{
    padding: 48px 0;
    background-image: url(https://wp.w3layouts.com/digitaledu/wp-content/themes/digitaledu/assets/images/banner2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.us::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(16 15 19 / 66%);
    z-index: -1;
    position: absolute;
}

.us .us__container{
    text-align: center;
}

.us .us__container .us__content{
    width: 700px;
    margin: 0 auto;
}

.us .us__container .us__content h3{
    font-size: 45px;
    color: #fff;
}

.us .us__container .us__content .us__buttom{
    padding: 60px 0 90px;
    
}

.us .us__container .us__content .us__buttom a{
    font-size: 25px;
    text-decoration: none;
    color: #f35b04;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
}

.us .us__container .us__content .us__buttom a:hover{
    color: #0f0f0f;
    transition: all 0.5s linear;
}

.us .us__container .us__content .us__buttom a:last-child{
    background-color: #f35b04;
    margin-left: 30px;
    color: #fff;
}

.us .us__container .us__content .us__buttom a:last-child:hover{
    background-color: #3d348b;
    transition: all 0.5s linear;
}

/*us*/

/*number*/
    
.number{
    position: relative;
    top: -70px;
    z-index: 1;
}

.number .number__container .number__all{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.number .number__container .number__all .number__item{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}

.number .number__container .number__all .number__item .number__icon:hover{
    transform: translateY(-10px);
    transition: all 0.5s linear;
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.number .number__container .number__all .number__item .number__icon{
    padding:40px 20px ;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}

.number .number__container .number__all .number__item .number__icon i{
    font-size: 26px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #3d348b;
    border-radius: 50%;
    color: #fff;
}

.number .number__container .number__all .number__item .number__icon span p{
    font-size: 45px;
    font-weight: 600;
}


.number .number__container .number__all .number__item .number__icon p{
    font-size: 20px;
}
/*number*/

/*video*/
.video{
    padding: 48px 0;
    
}

.video .video__container{
    background-image: url(https://wp.w3layouts.com/digitaledu/wp-content/themes/digitaledu/assets/images/banner1.jpg);
    background-position: center center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    align-items: center;
    display: grid;
    text-align: center;
}

.video .video__container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background-color:rgb(16 15 19 / 66%);
    z-index: -1;
    border-radius: 20px;
}

.video .video__container .video__content i{
    align-items: center;
    z-index: 3;
    color: #f35b04;
    font-size: 40px;
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
}

.video .video__container .video__content i:hover{
    transform: scale(1.2);
    transition: all 0.2s linear;
    background-color: #f35b04;
    color: #fff;
    cursor: pointer;
}

/*video*/

/*posts*/
.posts{
    padding: 48px 0;
    background-color: #f8f9fa;
}

.posts .posts__container{
    padding: 48px 0;
}

.posts .posts__container .posts__content .posts__heading p{
    font-size: 20px;
    color: #f35b04;
    padding-left: 80px;
    font-weight: 600;
    position: relative;
}


.posts .posts__container .posts__content .posts__heading p::after{
    content: "";
    height: 3px;
    width: 60px;
    background-color: #f35b04;
    position: absolute;
    left: 0;
    top: 50%;
}

.posts .posts__container .posts__content .posts__heading h3{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.posts .posts__container .posts__content .posts__blog{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.posts .posts__container .posts__content .posts__blog .posts__image{
    flex: 0 0 33.33337%;
    max-width: 33.33337%;
    padding: 15px;
}

.posts .posts__container .posts__content .posts__blog .posts__image .posts__all{
    background-color: #fff;
    border-radius: 20px;
}

.posts .posts__container .posts__content .posts__blog .posts__image .posts__all:hover{
    transform: translateY(-10px);
    transition: all 0.2s linear;
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.posts .posts__container .posts__content .posts__blog .posts__image .posts__all .posts__img img{
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.posts .posts__container .posts__content .posts__blog .posts__image .posts__all .posts__text{
    padding: 20px;
}

.posts .posts__container .posts__content .posts__blog .posts__image .posts__all .posts__text a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #0f0f0f;
    margin: 15px 0;
    display: inline-block;
}

.posts .posts__container .posts__content .posts__blog .posts__image .posts__all .posts__text .post__item{
    display: grid;
    grid-template-columns: 40px auto;
    grid-gap: 20px;
    align-items: center;
}

.posts .posts__container .posts__content .posts__blog .posts__image .posts__all .posts__text .post__item .posts__icon a{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

/*posts*/
/*email*/
.email{
    padding: 48px 0;
}

.email .email__container{
    padding: 48px 0;
}

.email .email__container .email__content p{
    padding-left: 80px;
    font-size: 20px;
    font-weight: 600;
    color: #f35b04;
    position: relative;
    
}

.email .email__container .email__content p::before{
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    background-color: #f35b04;
    left: 0;
    top: 50%;
}

.email .email__container .email__content h3{
    font-size:40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.email .email__container .email__content .email__button{
    display: block;
}

.email .email__container .email__content .email__button input{
    font-size: 18px;
    padding: 0px 20px;
    height: 55px;
    background-color: #f5f5f5;
    border: none;
    margin-right: 10px;
    border-radius: 7px;
}

.email .email__container .email__content .email__button input:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.email .email__container .email__content .email__button button{
    font-size: 20px;
    color: #fff;
    height: 55px;
    padding: 0 80px;
    border: none;
    border-radius: 7px;
    background-color: #f35b04;
}
/*email*/
/*people*/
.people{
    padding: 48px 0;
    background-color: #f8f9fa;
}

.people .people__container{
    padding: 48px 0px;

}

.people .people__container .people__content .people__heading p{
    font-size: 20px;
    padding-left: 80px;
    color: #f35b04;
    font-weight: 600;
    position: relative;
}

.people .people__container .people__content .people__heading p::before{
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f35b04;
    position: absolute;
    left: 0;
    top: 50%;
}

.people .people__container .people__content .people__heading h3{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

.people .people__container .people__content .people__text{
    display: flex;
}

.people .people__container .people__content .people__text .people__item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.people .people__container .people__content .people__text .people__item .people__icon p i{
    color: #f35b04;
}

.people .people__container .people__content .people__text .people__item .people__icon p{
    font-size: 20px;
    color: #525252;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
}

.people .people__container .people__content .people__text .people__item .people__icon .people__image{
    display: grid;
    grid-template-columns: 85px auto;
    grid-gap: 30px;
    margin: 30px 20px;
    align-items: center;
}

.people .people__container .people__content .people__text .people__item .people__icon .people__image img{
    display: block;
    border-radius: 50%;
}

.people .people__container .people__content .people__text .people__item .people__icon .people__image .people__all h4{
    font-size: 20px;
}


.people .people__container .people__content .people__text .people__item .people__icon .people__image .people__all p{
    padding: 0px;
    background-color: #f8f9fa;
    font-size: 18px;
    margin-top: 10px;
    color: #525252;
}


/*people*/

/*footer*/
.footer{
    padding: 48px 0;
    background-color: #0f0f0f;
}

.footer .footer__container{
    padding: 48px 0;
}

.footer .footer__container .footer__content{
    display: flex;
}


.footer .footer__container .footer__content .footer__text{
    flex: 0 0 33.3337%;
    max-width: 33.3337%;
    padding-right: 48px;
}

.footer .footer__container .footer__content .footer__text a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
}

.footer .footer__container .footer__content .footer__text p{
    font-size: 19px;
    margin: 20px 0;
    color: #63676b;
}

.footer .footer__container .footer__content .footer__text .footer__icon i{
    font-size: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #f35b04;
    margin-right: 10px;
}


.footer .footer__container .footer__content .footer__meta{
    flex: 0 0 22.2221%;
    max-width: 22.2221%; 
}

.footer .footer__container .footer__content .footer__meta h6{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}

.footer .footer__container .footer__content .footer__meta ul li{
    list-style: none;
    font-size: 19px;
    color: #63676b;
    margin-bottom: 15px;
}
/*footer*/

/*theme*/

.theme{
    padding: 20px;
    background-color: #0f0f0f;
    border-top: 1px solid rgb(255 255 255 / 5%);
}

.theme .theme__container{
    display: flex;
    justify-content: space-between;
}

.theme .theme__container p{
    font-size: 19px ;
    font-weight: 500;
    color: #fff;
}

.theme .theme__container p a{
    text-decoration: none;
    color: #f35b04;
}

.theme .theme__container a{
    text-decoration: none;
    font-size: 19px;
    color: #525252;
}





/*theme*/

