.container{
    max-width: 350px;
}

.header .header__container .header__content .header__heading h1 a{
    font-size: 28px;
}

.banner .banner__container .banner__content .banner__heading h5{
    font-size: 30px;
}

.banner .banner__container .banner__content .banner__heading{
    max-width: 100%;
}

.banner .banner__container .banner__content{
    top: 50%;
    transform: translateY(-50%);
}

.banner .banner__container .banner__content .banner__heading .one{
    margin: 0;
    margin-bottom: 30px;
}

.about .about__container .about__content .about__heading h3{
    font-size: 30px;
}

.start .start__container .start__content{
    display: block;
}

.start .start__container .start__content .start__all{
    max-width: 100%;
}

.start .start__container .start__content .start__all .start__item .start__icon a{
    padding: 15px 40px;
}

.start .start__container .start__content .start__all .start__item span{
    padding-left: 20px;
}

.start .start__container .start__content .start__all .start__item{
    display: block;
    padding: 30px;
}

.start .start__container .start__content .start__all .start__item .start__icon{
    padding: 0;
}

.us .us__container .us__content{
    max-width: 100%;
}

.us .us__container .us__content h3{
    font-size: 25px;
}

.us .us__container .us__content .us__buttom{
}

.us .us__container .us__content .us__buttom a{
    font-size: 20px;
    padding: 15px 30px;
}

.us .us__container .us__content .us__buttom a:last-child{
    margin-left: 10px;
}

.number .number__container .number__all{
    display: flex;
    flex-wrap: wrap;
}

.number .number__container .number__all .number__item{
    flex: 0 0 50%;
    max-width: 50%;
}

.posts .posts__container .posts__content .posts__heading h3{
    font-size: 30px;
}

.posts .posts__container .posts__content .posts__blog{
    display: block;
}
.posts .posts__container .posts__content .posts__blog .posts__image{
    max-width: 100%;
}

.posts{
    padding: 0;
}

.email .email__container .email__content h3{
    font-size: 26px;
}

.email .email__container .email__content .email__button{
    display: block;
}

.email .email__container .email__content .email__button input{
    max-width: 100%;
    margin-bottom: 20px;
    width: 90%;
}

.email .email__container .email__content .email__button button{
    max-width: 100%;
    width: 90%;
}

.people .people__container .people__content .people__heading h3{
    font-size: 30px;
}

.people .people__container .people__content .people__text .people__item .people__icon p{
    padding: 15px;
    font-size: 18px;
}

.footer .footer__container .footer__content{
    display: flex;
    flex-wrap: wrap;
}

.footer .footer__container .footer__content .footer__text{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 40px;
}

.footer .footer__container .footer__content .footer__text .footer__icon{
    text-align: center;
}

.footer{
    padding: 0;
}

.footer .footer__container .footer__content .footer__meta:last-child{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
}

.header .header__container .header__content .header__item{
    text-align: center;
}

.header .header__container .header__content .header__item ul#scroll{
    display: block;
    position: fixed;
    width: 70%;
    top: 0;
    left: 0;
    background-color: antiquewhite;
    color: black;
    height: 100vh;
    align-items: center;
    transform: translateX(-150%);
    transition: all 0.5s linear;
}

.header .header__container .header__content .header__item ul#scroll.active{
    transform: translateX(0%);
}

.header .header__container .header__content .header__item ul li{
    padding: 20px;
    margin: 0;
}


.header .header__container .header__content .header__item ul i{
    display: none;
}