.header .header__container .header__content .header__heading .header__input{
    display: none;
}

.header .header__container .header__content .header__item ul{
    display: none;
}

.header .header__container .header__content .header__icon{
    display: flex;
    align-items: center;
}

.header .header__container .header__content .header__icon i{
    font-size: 20px;
}

.header .header__container .header__content .header__icon i:last-child{
    color: #fff;
    background-color: chocolate;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    margin-left: 20px;
    border-radius: 5px;
}

.container{
    max-width: 720px;
}

.header .header__container .header__content .header__heading h1 a span{
    border-color: chocolate;
}
.banner .banner__container .banner__content .banner__item{
    display: none;
}

.banner .banner__container .banner__content .banner__heading{
    max-width: 90%;
}

.banner .banner__container .banner__content .banner__heading h5{
    font-size: 40px;
}

.about .about__container .about__content{
    display: block;
    flex-wrap: wrap;
}

.about .about__container .about__content .about__heading{
    max-width: 100%;
    margin-bottom: 20px;
}

.about .about__container .about__content .about__text{
    max-width: 100%;
    margin-bottom: 20px;
}

.start .start__container .start__content .start__all .start__item{
    padding: 15px;
}

.start .start__container .start__content .start__all .start__item span{
    padding: 0;
}

.number .number__container .number__all .number__item .number__icon span p{
    font-size: 30px;
}

.video .video__container{
    background-position: center center;
}

.posts .posts__container .posts__content .posts__blog{
    display: flex;
    flex-wrap: wrap;
}

.posts .posts__container .posts__content .posts__blog .posts__image{
    flex: 0 0 50%;
    max-width: 50%;
}

.email .email__container .email__content .email__button{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.email .email__container .email__content .email__button input{
    flex: 0 0 calc(33.3337% - 30px);
    max-width: calc(33.3337% - 30px);
    margin: 0 15px;
}

.email .email__container .email__content .email__button button{
    flex: 0 0 calc(33.3337% - 30px);
    max-width: calc(33.3337% - 30px);
    margin:0 15px;
}

.people .people__container .people__content .people__text{
    display: block;
}

.people .people__container .people__content .people__text .people__item{
    max-width: 100%;
}

.footer .footer__container .footer__content{
    display: flex;
    flex-wrap: wrap;
}

.footer .footer__container .footer__content .footer__text{
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px;
}

.footer .footer__container .footer__content .footer__meta{
    flex: 0 0 50%;
    max-width: 50%;
}

.banner .banner__container .banner__content{
    top: 50%;
    transform: translateY(-50%);
}